/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# rbenv
.rbenv-gemsets

# rspec failure tracking
.rspec_status

# dotenv config
.env

# simplecov
/coverage

# vcr cassettes
/spec/vcr/**/*.yml
